<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="de.shandschuh.sparserss"
      android:versionCode="79" android:versionName="1.4.2"
      android:installLocation="auto">
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="11"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- Android 1.5 requires this  -->
    <uses-permission android:name="de.shandschuh.sparserss.READFEEDS"/>
    <uses-permission android:name="de.shandschuh.sparserss.WRITEFEEDS"/>
    
    <permission
        android:name="de.shandschuh.sparserss.READFEEDS"
        android:protectionLevel="normal"
        android:label="@string/permission_readfeeds"
        android:description="@string/permission_readfeeds_description"/>
    <permission
        android:name="de.shandschuh.sparserss.WRITEFEEDS"
        android:protectionLevel="normal"
        android:label="@string/permission_writefeeds"
        android:description="@string/permission_writefeeds_description"/>
    <application 
        android:icon="@drawable/icon" 
        android:label="@string/app_name" 
        android:allowClearUserData="true" 
        android:testOnly="false" 
        android:allowBackup="true">
        <service android:name=".service.RefreshService"/>
        <service android:name=".service.FetcherService"/>
        <provider
            android:name=".provider.FeedDataContentProvider"
            android:authorities="de.shandschuh.sparserss.provider.FeedData"
            android:readPermission="de.shandschuh.sparserss.READFEEDS"
            android:writePermission="de.shandschuh.sparserss.WRITEFEEDS"/>
        <activity android:name=".MainTabActivity" android:label="@string/app_name" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RSSOverview" android:launchMode="singleTask" />
        <activity android:name=".EntriesListActivity" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.dir/vnd.feeddata.entry" />
            </intent-filter>
        </activity>
        <activity android:name=".EntryActivity" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/vnd.feeddata.entry" />
            </intent-filter>
        </activity>
        <activity android:name=".ApplicationPreferencesActivity"/>
        <activity android:name=".widget.WidgetConfigActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity android:name=".FeedConfigActivity" android:theme="@style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/vnd.feeddata.feed"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.dir/vnd.feeddata.feed"/>
            </intent-filter>
        </activity>
        <receiver android:name=".widget.SparseRSSAppWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="de.shandschuh.sparserss.FEEDUPDATED" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/widgetinfo" />
        </receiver>
        <receiver android:name=".RefreshBroadcastReceiver" >
            <intent-filter>
                <action android:name="de.shandschuh.sparserss.REFRESH" />
            </intent-filter>
        </receiver>
        <receiver android:name=".SDMountBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
            </intent-filter>
            <intent-filter>
                <action android:name="de.shandschuh.sparserss.RESTART" />
            </intent-filter>
        </receiver>
        <receiver android:name=".BootCompletedBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest> 